# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.work
*.sum
*.pem
*.key
*.crt
*.csr

.DS_Store
config.toml

.sass-cache
tmp/
vendor/
.prettier*
.devcontainer/
.github/

main
converage.txt