{{ define "button" }}
<button type="{{ .buttonType }}" class="button button--{{ .variant }}" data-controller="button">{{ .text }}</button>

<style>
    .button {
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
        font-weight: var(--font-weight-semibold);
        color: var(--button-color);
        background-color: transparent;
        border: 2px solid var(--button-color);
        border-radius: var(--border-radius-md);
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .button:hover {
        background-color: var(--button-color);
        color: white;
    }

    :root {
        --button-color: var(--color-blue-600);
    }

    .button--blue {
        --button-color: var(--color-blue-600);
    }

    .button--green {
        --button-color: var(--color-green-600);
    }

    .button--red {
        --button-color: var(--color-red-600);
    }

    .button--yellow {
        --button-color: var(--color-yellow-600);
    }

    .button--gray {
        --button-color: var(--color-gray-600);
    }

    .button--white {
        --button-color: var(--color-white);
    }

    .button--black {
        --button-color: var(--color-black);
    }
</style>
{{ end }}