{{ template "FrontLayout" . }}
{{ define "startPageContent" }}
<section class="start-page">
	<div class="start-page__hero">
		<div class="container">
			<h1>
				👋 Start Page
			</h1>
			<p>
				This is the front page, edit Start.html 📃 to get started.
			</p>
			<img
				src="/images/screenshot.png"
				alt="Screenshot"
			/>
		</div>
	</div>
	<div class="start-page__button-example">
		<div class="container">
			<h2>
				JS Controller Example
			</h2>
			<p>
				Open the console and see what the Button do:
			</p>

			<gowc-button
				button-type="button"
				variant="black"
				controller="exampleController"
			>
				👇
			</gowc-button>

			<p>
				For an example integration, see:
			</p>
			<code class="start-page__code">
				<span class="start-page__code---keyword">public</span>/<span class="start-page__code---keyword">controllers</span>/<span class="start-page__code---keyword">ExampleController.js</span>
			</code>
			<p>
				and
			</p>
			<code class="start-page__code">
				<span class="start-page__code---keyword">public</span>/<span class="start-page__code---keyword">js</span>/<span class="start-page__code---keyword">components</span>/<span class="start-page__code---keyword">ButtonComponent.js</span>
			</code>
		</div>
	</div>
	<div class="start-page__documentation">
		<div class="container">
			<h2>
				Documentation
			</h2>
			<p>
				Head over to the <a href="/static/README.md" target="_blank">Readme</a> for more information.
			</p>

			<code class="start-page__code">
				<span class="start-page__code---keyword">gowc</span>/<br />
				├── <span class="start-page__code---keyword">cmd</span>/<br />
				│   ├── <span class="start-page__code---keyword">doc.go</span><br />
				│   ├── <span class="start-page__code---keyword">main.go</span> <span class="start-page__code---comment"># Application entry point</span><br />
				│   ├── <span class="start-page__code---keyword">migrate</span>/<br />
				│   │	└── <span class="start-page__code---keyword">main.go</span><br />
				├── <span class="start-page__code---keyword">config.toml</span><br />
				├── <span class="start-page__code---keyword">go.mod</span><br />
				├── <span class="start-page__code---keyword">go.sum</span><br />
				├── <span class="start-page__code---keyword">internal</span>/<br />
				│   ├── <span class="start-page__code---keyword">config</span>/ <span class="start-page__code---comment"># Application configuration</span><br />
				│   ├── <span class="start-page__code---keyword">handlers</span>/ <span class="start-page__code---comment"># HTTP request handlers</span><br />
				│   ├── <span class="start-page__code---keyword">layers</span>/ <span class="start-page__code---comment"># Custom middleware</span><br />
				│   ├── <span class="start-page__code---keyword">migrations</span>/ <span class="start-page__code---comment"># Database migrations</span><br />
				│   ├── <span class="start-page__code---keyword">models</span>/ <span class="start-page__code---comment"># Data models</span><br />
				│   ├── <span class="start-page__code---keyword">routes</span>/ <span class="start-page__code---comment"># Route definitions</span><br />
				│   └── <span class="start-page__code---keyword">utils</span>/ <span class="start-page__code---comment"># Utility functions</span><br />
				├── <span class="start-page__code---keyword">resources</span>/<br />
				│	├── <span class="start-page__code---keyword">css</span>/ <span class="start-page__code---comment"># CSS files</span><br />
				│	├── <span class="start-page__code---keyword">images</span>/ <span class="start-page__code---comment"># Image assets</span><br />
				│	├── <span class="start-page__code---keyword">js</span>/ <span class="start-page__code---comment"># JavaScript files</span><br />
				│	└── <span class="start-page__code---keyword">views</span>/ <span class="start-page__code---comment"># HTML templates</span><br />
			</code>
		</div>
	</div>
</section>

<style>
	.start-page__hero,
	.start-page__button-example,
	.start-page__documentation {
		padding: 4rem 0;
	}

	.start-page__hero {
		text-align: center;

		img {
			width: 100%;
			max-width: fit-content;
			height: auto;
			margin-bottom: -42rem;
			z-index: 0;
			transition: all 1s;

			&:hover {
				margin-bottom: -9rem;
			}
		}
	}

	.start-page__button-example {
		background-color: var(--color-teal-800);
		box-shadow: 0px -0.4rem 0.4rem rgba(var(--color-black-rgb), 0.05);
		position: relative;
		z-index: 1;

		@media (prefers-color-scheme: light) {
			background-color: var(--color-teal-300);
		}
	}


	.start-page__code {
		background-color: var(--color-gray-900);
		padding: 1rem;
		border-width: 2px;
		border-style: solid;
		border-color: var(--color-gray-600);
		border-radius: 0.5rem;
		color: var(--color-gray-400);
		display: block;
		font-size: var(--font-size-sm);
		line-height: 1.5;
		font-family: var(--font-family-mono);

		@media (prefers-color-scheme: light) {
			border-color: var(--color-black);
			color: var(--color-gray-200);
		}
	}

	.start-page__code---keyword {
		color: var(--color-teal-600);
		font-weight: var(--font-weight-bold);

		@media (prefers-color-scheme: light) {
			color: var(--color-teal-500);
		}
	}

	.start-page__code---comment {
		color: var(--color-green-700);
		font-weight: var(--font-weight-thin);

		@media (prefers-color-scheme: light) {
			color: var(--color-green-300);
		}
	}
</style>
{{ end }}